version: '3'
services:
  # --- Nœud 1 (Le Chef) ---
  node1:
    image: cassandra:latest
    container_name: cassandra-node1
    environment:
      - CASSANDRA_CLUSTER_NAME=GameSales_Cluster
      - CASSANDRA_DC=datacenter1
      - CASSANDRA_SEEDS=node1
      - CASSANDRA_ENDPOINT_SNITCH=GossipingPropertyFileSnitch
      # Mode économie de RAM
      - MAX_HEAP_SIZE=512M
      - HEAP_NEWSIZE=100M
    ports:
      - "9042:9042" # Port ouvert vers Windows
    volumes:
      - cassandra_data_1:/var/lib/cassandra

  # --- Nœud 2 (Réplicat) ---
  node2:
    image: cassandra:latest
    container_name: cassandra-node2
    environment:
      - CASSANDRA_CLUSTER_NAME=GameSales_Cluster
      - CASSANDRA_DC=datacenter1
      - CASSANDRA_SEEDS=node1
      - CASSANDRA_ENDPOINT_SNITCH=GossipingPropertyFileSnitch
      # Mode économie de RAM
      - MAX_HEAP_SIZE=512M
      - HEAP_NEWSIZE=100M
    depends_on:
      - node1
    volumes:
      - cassandra_data_2:/var/lib/cassandra

  # --- Nœud 3 (Réplicat) ---
  node3:
    image: cassandra:latest
    container_name: cassandra-node3
    environment:
      - CASSANDRA_CLUSTER_NAME=GameSales_Cluster
      - CASSANDRA_DC=datacenter1
      - CASSANDRA_SEEDS=node1
      - CASSANDRA_ENDPOINT_SNITCH=GossipingPropertyFileSnitch
      # Mode économie de RAM
      - MAX_HEAP_SIZE=512M
      - HEAP_NEWSIZE=100M
    depends_on:
      - node1
    volumes:
      - cassandra_data_3:/var/lib/cassandra

# Volumes persistants
volumes:
  cassandra_data_1:
  cassandra_data_2:
  cassandra_data_3: